<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h1>Welcome to Code Fellowship</h1>
    <form action="/signup" method="POST">
        <label>Username: <input type="text" name="userName"></label>
        <label>Password: <input type="password" name="password"></label>
        <label>First Name: <input type="text" name="firstName"></label>
        <label>Last Name: <input type="text" name="lastName"></label>
        <label>Date: <input type="date" name="date"></label>
        <label>Bio: <input type="text" name="bio"></label>

        <input type="submit">
    </form>
</body>
</html>